* {
  font-family: "Roboto", sans-serif;
  color: #4b0082;
}

.cabecalho {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
}
.produtos {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 15px;
}

.produtos h1 {
  font-size: 5px;
  color: inherit;
}
.container .filtros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 15px;
  margin-bottom: 15px;
}

.rodape {
  background-color: #4b0082;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
}
